.AirCargoImage{
    box-shadow: 2px 2px 14px   rgb(128, 108, 108);
    border-radius: 12px;
    width: 100%;
}
.AirCargoImage:hover{
    box-shadow: 2px 2px 14px #e38125;}
.AirCargoHeading{
        color: #ecccad;
     
     
     }
.AirCargoText{
         text-align: justify;
     
           }