.CargoServiceHeading{
    color: #e38125;
    font-style: oblique;
  }
  .CargoServiceText{
    text-align: justify;
  }
  .CargoServiceHeading1{
      text-align: center;
      color:whitesmoke;
      font-size: 1.5rem;
      font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-weight: 900 !important;
    text-decoration: underline;
    margin-top: 15px;
    
    }
  .CargoServiceText1{
    text-align: center;
    font-size: 1.1rem;
    padding:10px ;

}
.CargoService{
    background: rgba(227, 129, 37, 0.7);
    border:19px double rgb(141, 59, 59);
    box-shadow: 3px 3px  10px slategrey;
    border-radius: 12px;
   color: whitesmoke;
    margin-top: 10px;
    padding: 5px;
    
}
.CargoServices{
    box-shadow: 2px 2px 14px   rgb(128, 108, 108);
    border-radius: 12px;
    width: 100%;
    
}
  .CargoServices:hover{
      box-shadow: 2px 2px 14px #e38125;
  }
.CargoServicesIcon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    margin-top: 5px; 
    height: 100px;

}
.CargoServicesIconHeading{
    text-align: center;
    margin-top: 15px;
    color: #e38125;
}
.CargoServicesIconText{
    color: rgb(5, 5, 5);
text-align: center;
}
