.CustomImage{
    box-shadow: 2px 2px 14px   rgb(128, 108, 108);
    border-radius: 12px;
  padding: 15px;
    width: 85%; 
}
  .CustomImage:hover{
      box-shadow: 2px 2px 14px #e38125;
  }

  .CustomHeading{
    color: #e38125;
 
 
 }
 .CustomText{
     text-align: justify;
 
       }