.GoodTransports{
    box-shadow: 2px 2px 14px   rgb(128, 108, 108);
    border-radius: 12px;
    width: 100%;
    
}
  .GoodTransports:hover{
      box-shadow: 2px 2px 14px #e38125;
  }
  .GoodTransportsHeading{
    color: #e38125
  }
  .GoodTransportsText{
    text-align: justify;
  }
  .GoodTransportsHeading1{
      text-align: center;
      color:whitesmoke;
      font-size: 2.5rem;
      font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-weight: 900 !important;
    text-decoration: underline;
    
    }
  .GoodTransportsText1{
    text-align: center;
    font-size: 1.1rem;
    padding:10px ;
}
.GoodsTransport{
    background: rgba(227, 129, 37, 0.7);
    border:19px double rgb(141, 59, 59);
    box-shadow: 3px 3px  10px slategrey;
    border-radius: 12px;
   color: whitesmoke;
    margin-top: 10px;
    padding: 5px;
    
}