.LuggageMovingImage{
    box-shadow: 2px 2px 14px   rgb(128, 108, 108);
    border-radius: 12px;
  
    width: 85%; 
}
  .LuggageMovingImage:hover{
      box-shadow: 2px 2px 14px #e38125;
  }

.LuggageMovingHeading{
   color: #e38125;


}
.LuggageMovingText{
    text-align: justify;

      }