.fadeOutText {
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 10000000;
    animation-fill-mode: forwards;
  }
  @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }
  .HomeShiftingMain{
     border-radius: 12px;
     box-shadow: 2px 2px 10px #e38125;
  
  }

  .HomeShiftingImage{
    box-shadow: 2px 2px 14px   rgb(128, 108, 108);
    border-radius: 12px;
}
  .HomeShiftingImage:hover{
      box-shadow: 2px 2px 14px #e38125;
  }
  .HomeShiftingImage1{
      padding: 5px;
    height: 150px;
    width: 75%;
     text-align: center;
    justify-content: center;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
     display: block; 
     box-shadow: 2px 2px 14px   rgb(128, 108, 108);
     
  }
  .HomeShiftingImage1:hover{
    box-shadow: 2px 2px 14px #e38125;
}
  .HomeShiftingHeading1{
      text-align:center;
      color: white;
      justify-content: center !important;
      text-align: center;
      font-size: 3rem;
      background-color: #e38125!important;
      border: dotted;
      font-weight: 800;
      font-style: oblique;
      font-family: 'Times New Roman', Times, serif;
      border-radius: 12px;
  }
  .HomeShiftingHeading2{
    text-align:justify;
    color: white;
    justify-content: center !important;
    text-align: center;
    background-color: #e38125!important;
    border: double;
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 12px;
}
.HomeShiftingText{
  text-align: justify;
  font-size: 1rem;
}

  /* .ListItem{
      color: red;
      transition: all .5s ease-in;

  }
  .ListItem:hover{
    text-decoration: underline;
    text-decoration:underline; */


ul {
    
	display: inline-block;
    justify-self: unset;
	flex-wrap: wrap;
	justify-content: center;
 
}
li {
	margin: 0 2rem;
    font-size: 1.2rem;
}

/* Underline styles */
li {
    position: relative;
	padding: 0.2em 0;
}

/* Fade in */
li::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0.1em;
	background-color: #e38125;
	opacity: 0;
   
	transition: opacity 300ms, transform 300ms;
}

li:hover::after,
li:focus::after {
	opacity: 1;
	transform: translate3d(0, 0.2em, 0);
}

.HomeShiftingHeading{
    color: #e38125
}
.HomeShiftingButton{
    background-color: #e38125 !important;
  color:whitesmoke !important;
  border: whitesmoke !important;
  border-radius: 12px;
  font-size: large !important;
}
