.VehicleMovingImage{
    box-shadow: 2px 2px 14px   rgb(128, 108, 108);
    border-radius: 12px;
    width: 100%;
    
}
  .VehicleMovingImage:hover{
      box-shadow: 2px 2px 14px #e38125;
  }
  .VehicleMovingText{
    text-align: justify;
  }
  ul {
    
	display: inline-block;
    justify-self: unset;
	flex-wrap: wrap;
	justify-content: center;
 
}
li {
	margin: 0 2rem;
    font-size: 1.2rem;
}

/* Underline styles */
li {
    position: relative;
	padding: 0.2em 0;
}

/* Fade in */
li::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0.1em;
	background-color: #e38125;
	opacity: 0;
   
	transition: opacity 300ms, transform 300ms;
}

li:hover::after,
li:focus::after {
	opacity: 1;
	transform: translate3d(0, 0.2em, 0);
}
.Footer{
    margin-top: 3px;
    background-color: #e38125;
    color:  whitesmoke !important;
}
.Footer1{
  color:  whitesmoke !important;
 background-color: #e38125;



}