.WarehouseServiceHeading{
    color: #e38125;
    font-style: oblique;
  }

  .WarehouseStorage{
    box-shadow: 2px 2px 14px   rgb(128, 108, 108);
    border-radius: 12px;
    width: 100%;
    height: 530px
    
}
  .WarehouseStorage:hover{
      box-shadow: 2px 2px 14px #e38125;
  }