.AboutHeaderImage{
position: relative;
}
.AboutHeaderText{


  font-family: 'Times New Roman', Times, serif;
  font-weight: 800;
  font-size: 5rem;
  color: #e38125;
  text-shadow: 3px 3px 3px rgb(0, 0, 0);
  position: absolute;
  top: 15%;
  left: 20%;
}
.AboutServiceImage{
    height: 100px;
    width: 25%;
    margin-left: 40%;
    margin-right: auto
}
.AboutServiceHeading{
    color: whitesmoke;
    font-style: oblique;
   border-radius: 12px;
   border-color:whitesmoke;
   border-style: dashed;
   margin-top: 4px;
    background-color: #e38125;
}
.AboutServiceHeading:hover{
    color: #e38125;;
    font-style: oblique;
   border-radius: 12px;
   border-color:#e38125;;
   border-style: dashed;
   margin-top: 4px;
    background-color: whitesmoke;
}
.AboutServiceText{

    text-align: justify;

}

