.CardText{
  
    position: absolute;
    top:15%;
    left:50%;
  width: 100%;
    transform: translate(-50%, -50%);
    background-color:  #e38125;
    opacity: 0.8  ;
    font-size: 2rem;
    color: black;
 
}

.cards {
  /* position: absolute; */
  /* top: 50%;
  left: 50%; */
border-radius: 12px;
  margin-top: 0%;
  transform: translate(10%,0%);
  width: 90%;
box-shadow: 3px 3px 5px slategray;
  background: #000;
}
.cards .image {
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
}
.cards .image img {
  width: 100%;
  transition: .5s;
}
.cards:hover .image img {
  opacity: .5;
  transform: translateX(30%);/*100%*/
  
}
.cards .details {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;/*100%*/
  height: 100%;
  background:  #e38125;
  transition: .5s;
  transform-origin: left;
  transform: perspective(2000px) rotateY(-90deg);
}
.cards:hover .details {
  transform: perspective(2000px) rotateY(0deg);
  
}
.cards .details .center {
  padding: 20px;
  text-align: center;
  background: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.cards .details .center h1 {
  margin: 0;
  padding: 0;
  color:  #e38125;
  line-height: 20px;
  font-size: 20px;
  text-transform: uppercase;
}
.cards .details .center h1 span {
  font-size: 14px;
  color: #262626;
}
.cards .details .center p {
  margin: 10px 0;
  padding: 0;
  color: #262626;
}
.cards .details .center ul {
  margin: 10px auto 0;
  padding: 0;
  display: table;
}
.cards .details .center ul li {
  list-style: none;
  margin: 5px;
  float: left;
}
.cards .details .center ul li a {
  display: block;
  background: #262626;
  color: #fff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  transform: .5s;
}
.cards .details .center ul li a:hover {
  background: #ff3636;
}
.ReadMore:hover{
  box-shadow: 2px 2px 14px 5px #e38125!important;
  
}
.ReadMore{
 
  background-color:#e38125 !important;
  color: whitesmoke;
  border: whitesmoke !important;
}
