.Footer{
    margin-top: 3px;
    background-color: #e38125;
    color:  whitesmoke !important;
}
.Footer1{
  color:  whitesmoke !important;
 background-color: #e38125;
 text-align: justify;


}
.HomeFooterText{
    color: mintcream;
}
/* .effect-underline{
    text-decoration: none;
font-size: 1.3rem;
}
.effect-underline:hover{
margin-left: 5px;
animation: reverse  ;
background-color: rgb(194, 11, 130);
} */


.ListItems { 
    list-style-type: none;
    border-radius: 12px;

    border: 12;

    text-align: start;
    font-size: 1.2rem;
    padding: auto;
    width: auto;
    transition: all 0.5s;
    cursor: pointer;
    margin: auto;
  }
  
  .ListItems span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    

  }
  
  .ListItems span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    left: 13px;
    transition: 0.5s;
    background-color: royalblue;
    color: springgreen;
    border-radius: 12px;
    border-radius: 12px;

  }
  
  .ListItems:hover span {
    padding-left: 25px;
    background-color: royalblue;
    border-radius: 12px;
  }
  
  .ListItems:hover span:after {
    opacity: 1;
    left: 1px;
    background-color: royalblue;    
    color: red;

 
  }
.LinkItem{
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
}
.LinkItem:hover{
    color: rgb(206, 17, 17);
   
}