.WaveHeading{
  position: absolute;
  top: 15%;
  left: 10%;
}
.Accordion{
  background-color: #e38125 !important ;
  color: whitesmoke!important;
  border-radius: 12px !important;
  box-shadow: 12px 12px 12px #ada9a5!important;
  border: dashed;

}
.AccordionText{
  
  color: whitesmoke;
  margin-top: 2 !important;
  font-size: 1.5rem !important;
  font-weight: 800 !important;
  font-style: oblique;
  text-decoration: underline !important;
  text-align: center !important;
}
.TypographyText{
  padding: 5px;
  font-size: 1.3rem !important;
}
.Heading{

  color: #e38125;
  text-shadow: 7px 4px 7px rgb(146, 139, 139);
  font-family: 'Times New Roman', Times, serif;
  font-size: 3.5rem;
}