.HomeWelcome{
    box-shadow: 3px 3px 10px   slategray;
    padding: 25px;
    background-color: #e38125;
    color:  whitesmoke;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-style: oblique;
    border-radius: 12px;
}
.HomeHeading{
    font-size: 1rem;
    color: whitesmoke;
    font-size: 1.2rem;
}
.HomeButton{
  background-color: whitesmoke !important;
  color: #e38125 !important;
  border: whitesmoke !important;
  border-radius: 12px;
}
.HomeButton1{
  background-color: #e38125 !important;
  color:whitesmoke !important;
  border: whitesmoke !important;
  border-radius: 12px;
  font-size: large !important;
}

/* .CardText{
    position: absolute;
    top: 5rem;

    
    font-size: 3rem !important;
    color: midnightblue;
    background-color: yellow !important;
    width: 100%;
    padding: 1px;
    opacity: 0.7;

  
} */
/* .CardHover:hover, .CardText:hover {
    background-color: whitesmoke !important;
    color: aqua !important;
    width: 100%;
    padding: 1px;
    opacity: 0.7;
  
} */


.Footer{
    margin-top: 3px;
    background-color: rgb(97, 80, 91);
}
.HomeFooterText{
    color: mintcream;
}
/* .effect-underline{
    text-decoration: none;
font-size: 1.3rem;
}
.effect-underline:hover{
margin-left: 5px;
animation: reverse  ;
background-color: rgb(194, 11, 130);
} */


.ListItems { 
    list-style-type: none;
    border-radius: 12px;

    border: 12;

    text-align: start;
    font-size: 1.2rem;
    padding: auto;
    width: auto;
    transition: all 0.5s;
    cursor: pointer;
    margin: auto;
  }
  
  .ListItems span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    

  }
  
  .ListItems span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    left: 13px;
    transition: 0.5s;
    background-color: royalblue;
    color: springgreen;
    border-radius: 12px;
    border-radius: 12px;

  }
  
  .ListItems:hover span {
    padding-left: 25px;
    background-color: royalblue;
    border-radius: 12px;
  }
  
  .ListItems:hover span:after {
    opacity: 1;
    left: 1px;
    background-color: royalblue;    
    color: red;

 
  }
.LinkItem{
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
}
.LinkItem:hover{
    color: rgb(206, 17, 17);
   
}
.HomeHeading2{
    color: #e38125;
}


.HomeHeading1{
    color: white;
    justify-content: center !important;
    text-align: center;
    font-size: 3rem;
    background-color: #e38125!important;
    border: dotted;
    font-weight: 800;
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 12px;
}
.HomePara{
    color: rgb(102, 89,89);
    font-size: 1.1rem;
  font-weight: 400;
  font-style: italic;
}


/*SUBCIRBES*/


