.NavBar{
    background-color: #e38125 ;
    color: white ;
    text-decoration: none;
    font-size: 1.3rem;
}
.NavBarDropdown{
    background-color: #e38125 ;
    color: white ;
    text-decoration: none;
    font-size: 1.1rem;
    text-decoration: none;
}

.dropdown-menu .NavBarDropdown:hover {
    color: #ffffff;
    background-color: #e38125;
    text-decoration: none;
    font-size: 1.1rem;
}

.dropdown-menu .NavBarDropdown {
    background-color: #ffffff ;
    color: #e38125 ;
  }