.imageHover{
    box-shadow: 4px 5px 40px  slategray;

}
.imageHover:hover{
    box-shadow: 4px 5px 40px  #e38125

}
.OurClientHeading{
    color: #e38125 !important;
    font-weight: 800;
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
    
}